*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: serif;
}

body{
    height: 100vh;
    background:#0b0f14;
    color:var(--textColor);
}

html{
    scroll-behavior: smooth;
}
:root{
--navigationColor:#ccc;
--headerColor:#000000f3;
--headingColor:rgba(255, 0, 0, 0.978);;
--primaryTextColor:#00ffae;
--primaryChildColor:#00ffccd8;
--textColor:#aaa;
--cardBackgroundColor:#11161c;
--btnColor: #000;
--boxShadowColor:#00ffae55;
--footerTextColor:#666;
}

/*header styling*/

.header{
    background-color: var(--headerColor);
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 20px 50px;
    position: fixed;
    top: 0;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.842);
}

.logo{
    font-size: 1.5rem;
    font-weight: 600;
}

.logo a{
    color: var(--primaryTextColor);
    text-decoration: none;
}

.header ul a{
    text-decoration: none;
    color: var(--navigationColor);
}

.header ul li a:hover{
    color: var(--primaryChildColor);
    cursor: pointer;
}

.list{
    list-style-type: none;
    display: flex;
    gap: 1rem;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;

}

/*main styling*/

.hero{
    margin-top: 65px;
    padding: 65px 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text h1{
    font-size: 48px;
    color: var(--headingColor);
}

.hero-text p{
    color: var(--textColor);
    margin-bottom:20px;
    line-height:2.1;
}

.btn{
    background: var(--primaryTextColor);
    color: var(--btnColor);
    padding:12px 20px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-weight:600;
    text-decoration: none;
}

.btn:hover{
    background-color: var(--headingColor);
}

.hero-img{
    width:300px;
    height:300px;
    border-radius:50%;
    overflow:hidden;
    border:3px solid var(--primaryTextColor);
    box-shadow:0 0 30px var(--boxShadowColor);
    animation: move 1.4s infinite ease-in-out alternate;
    z-index: -10;
}

.hero-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Section-2 */

.skills{
    padding: 45px;
}

.skills h2{
    margin-bottom: 30px;
    color: var(--primaryTextColor);
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card{
    padding: 20px;
    background: var(--cardBackgroundColor);
    border-radius: 10px;
    box-shadow:0 0 30px var(--headerColor);
}

.card h3{
    margin-bottom: 10px;
    color: var(--primaryChildColor);
}

.card p{
    color: var(--textColor);
}

/* section-3 */

.lastcards h4 a{
    text-decoration: none;
}

.lastcards h4{
    margin-top: 1rem;
}

/* footer styling */

.footer{
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
}

.footer p{
    margin-top: 10px;
    color: var(--footerTextColor);
}

.icons a{
    font-size: large;
    color: var(--headingColor);
}

.icons{
    margin-bottom: 10px;
}


.icons a:hover{
    color: var(--primaryChildColor);
}


@keyframes move {
    from{
        transform: translateY(10px);
    }
    to{
        transform: translateY(-10px);
    }
}

@media screen and (max-width:600px) {
    .header{
        flex-direction: column;
        height: 5rem;
    }

    .list a{
        font-size: 14px;
    }

    .list{
        margin-top: 10px;
        column-gap: 2rem;
    }

    .hero{
        flex-direction: column;
        text-align: center;
        padding: 50px 40px;
    }

    .hero-text h1{
        font-size: 32px;
    }

    .hero-img{
        margin: 30px auto ;
    }

    .cards{
        grid-template-columns: repeat(1, 1fr);
    }

}

@media screen and (min-width: 601px) and (max-width:900px){
    .hero{
        flex-direction: column;
        text-align: center;
    }

    .hero-img{
        margin-top: 30px;
    }

    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 601px) and (max-width: 1110px){
    .lastcards{
        grid-template-columns: repeat(1, 1fr);
    }
}